{% extends "Home/base.html" %}
{#extends the base.html page. This shows the relationship with the parent page base.html and this child page#}
{% load static %}
{#load css file to use for styling#}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/Student.css' %}">{% endblock %}
{#load css file as a link that can be read as a text or css file with reference to file location#}
{#block css used to link to block element in parent page to this page#}
{% block body %}
{% load crispy_forms_tags %}
{#start of body elements#}
    <div class="Container">
        {# create div class called container #}
        <h1 align="center">{% block title %}Student Sign In{% endblock %}</h1>
        {#open tag for heading to be aligned in center of page. opening block title used to show that#}
        {#variable between block and endblock is used for title in parent page. endblock shows there is no more#}
        {#content for the given variable. End tag for heading to show end of heading#}
        <div class="LoginButtons" align="center">
            {#create div class called loginbuttons that is aligned to the center of the page#}
            <form method = 'post'>
                {#start of form#}
                {% csrf_token %}
                {#this is a csrf_token which securely collects the information submitted in the form#}
                <table border="0">
                    {#start of table with invisible border#}
                    <tr>
                        {{ form | crispy}}
                        <td>
                            {#column tag#}
                        <button type="submit" class="btn btn-success btn-lg">Login</button>
                        {#create login button#}
                        <a href="{% url 'SignUp' %}" class="btn btn-info btn-lg">Sign Up</a>
                        {#linked button to url SignUp in view which displays SignUp.html#}
                        </td>
                        {#end of column#}
                    </tr>
                    {#end of row#}
                    {#end of row#}
                </table>
                {#end of table#}
            </form>
            {#end of form#}
        </div>
        {#end of div#}
    </div>
    {#end of div#}
{% endblock %}
{#end of body block#}