body{
    background-color: #368BC1;
    /* this makes the background of the body element lightblue */
}
ul{
    list-style-type: none;
    color: black;
    /*this makes form errors appear black*/
}
p{
    color: black;
    /*this makes the paragraph have black colored text*/
    font-size: 25px
    /*this makes the paragraph have a font size of 25 pixels*/
}
.Button1{
    display:inline-block;
    /*allow height and width values to be made for button*/
    width: 100%;
    font-size:7.5vw;
    /*make font size of button 7.5% of viewport width*/
    cursor:pointer;
    /*have cursor change to pointer on button hover*/
    text-align: center;
    /*align button text to center of button*/
    outline:black;
    /*set outline of text to black*/
    color: white;
    /*have text color set to white*/
    background-color: green;
    /*have background of button set to green*/
    border:black;
    /*have corder of button set to black*/
    border-radius: 3px;
    /*have border of buton set to 3 pixels and rounded*/
}
.Button1:hover{
    background-color: lightgreen
    /*have button set to lightgreen when hovering over button*/
}
.Button1:active{
    background-color:lightgreen;
    /*when button clicked changed color to lightgreen*/
    transform:translateY(2px)
    /*move button down 2 pixels*/
}
.Button2{
    display:inline-block;
    /*allow height and width values to be made for button*/
    width: 100%;
    font-size:7.5vw;
    /*make font size of button 7.5% of viewport width*/
    cursor:pointer;
    /*have cursor change to pointer on button hover*/
    text-align: center;
    /*align button text to center of button*/
    outline:black;
    /*set outline of text to black*/
    color: white;
    /*have text color set to white*/
    background-color: blue;
    /*have background of button set to blue*/
    border:black;
    /*have corder of button set to black*/
    border-radius: 3px;
    /*have border of buton set to 3 pixels and rounded*/
}
.Button2:hover{
    background-color: lightblue
    /*have button set to lightblue when hovering over button*/
}
.Button2:active{
    background-color:lightblue;
    /*when button clicked changed color to lightblue*/
    transform:translateY(2px)
    /*move button down 2 pixels*/
}
.Button3{
    display:inline-block;
    /*allow height and width values to be made for button*/
    width: 100%;
    font-size:7.5vw;
    /*make font size of button 7.5% of viewport width*/
    cursor:pointer;
    /*have cursor change to pointer on button hover*/
    text-align: center;
    /*align button text to center of button*/
    outline:black;
    /*set outline of text to black*/
    color: white;
    /*have text color set to white*/
    background-color: red;
    /*have background of button set to red*/
    border:black;
    /*have corder of button set to black*/
    border-radius: 3px;
    /*have border of buton set to 3 pixels and rounded*/
}
.Button3:hover{
    background-color: rgb(220,20, 60)
    /*have button set to lightred when hovering over button*/
}
.Button3:active{
    background-color: rgb(220,20, 60);
    /*when button clicked changed color to lightred*/
    transform:translateY(2px)
    /*move button down 2 pixels*/
}
.container {
    margin: auto;
    /* this makes the margin of the container automatically adjust */
    align: center
}