.Container {
    border: 2px solid gray;
    border-radius: 5px;
    margin: auto;
    /* this makes the margin of the container automatically adjust */
    margin-top: 120px;
    /* this makes the containers top margin from the page persistantly 120 pixels */
    width: 640px
    /* this makes the width of the container 640px */
}
.btn{
    display:inline-block;
    /* this lets us set a width and height to the button */
    padding:auto;
    /* this makes the padding around the button automatic */
    font-size:3.5vh;
    /* this makes the font size in the button 3.5% of the viewport width*/
}
.btn:active{
    transform:translateY(2px)
    /*this moves the button down by 2 pixels when clicked*/
}
@media screen and (max-width: 640px) {
    /*when the page screen has a width less than or equal to 640 pixels*/
    .Container{
        width: 100%;
        /*make the width of the container the size of the page*/
    }
}
@media screen and (max-height: 480px) {
    /*when the page screen has a height less than or equal to 480 pixels*/
    .Container{
        margin: auto;
        /*make the margin of the container automatically adjust*/
    }
}