.Container{
    border: 2px solid gray;
    border-radius: 5px;
    margin: auto;
    /*this makes the margin of the container automatic*/
    margin-top: 120px;
    width: 640px
    /*this makes the width of the container 640px*/
}
.btn{
    display:inline-block;
    /*this makes the signup button able to have height and width values*/
    padding:auto;
    /*this makes the padding around the button automatically adjust*/
    font-size:3.5vh;
    /*this makes the font size of the button 3.5% of the viewport width*/
}
.btn:active{
    background-color: rgb(220,20, 60);
    /*when clicking button gives button this colour*/
    transform:translateY(2px)
    /*moves button 2 pixels down when clicked*/
}
@media screen and (max-width: 640px) {
    /*when page width is less than or equal to 640 pixels*/
    .Container{
        width: 100%;
        /*make width of container width of page*/
    }
}
@media screen and (max-height: 480px) {
    /*when page height is less than or equal to 480 pixels*/
    .Container{
        margin: auto;
        /*make margin of container automatically resize*/
    }
}