.Container{
    margin: auto;
    /*make margin of container automatically adjustable*/
    margin-top: 120px;
    /*make margin from top of page 120 pixels*/
    width: 640px
    /*make width of container 640 pixels*/
}
.btn{
    display:inline-block;
    /*allow height and width values to be made for button*/
    font-size:3.5vh;
    /*make font size of button 3.5% of viewport width*/
}
.btn:active{
    transform:translateY(2px)
    /*move button down 2 pixels*/
}
@media screen and (max-width: 640px) {
    /*when width of page is 640 pixels or less*/
    .Container{
        width: 100%;
        /*make this container the same width as page*/
    }
}
@media screen and (max-height: 480px) {
    /*when height of page is 480 pixels or less*/
    .Container{
        margin: auto;
        /*make container margin automatically adjust*/
    }
}